<h5 class="card-title" style="padding-top:50px; text-align:center ;font-size: 30px;">Create Training</h5>
<form [formGroup]="myForm" (ngSubmit)="onsubmit()">
  <div style="display: flex;justify-content: center;">
    <div style="width: 100%;">
      <div *ngIf="error!=''">
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      </div>
      <div *ngIf="success!=''">
        <div class="alert alert-success" role="alert">
          {{success}}
        </div>
      </div>
      <br><br>
      <div class="card-body">
        <div style="display: flex;">
          <div style="align-items: space-around; width: 50%; padding:50px">
            <div>
              <label for="">Training Name</label>
              <input type="text" formControlName="nom" class="form-control">
              <span *ngIf="!myForm.get('nom')?.valid && myForm.get('nom')?.touched" class="help-block red">
                Please enter a valid training name
              </span>
            </div>
            <label for="">Classroom </label>
            <div>
              <input type="text" formControlName="classroom" class="form-control">
              <span *ngIf="!myForm.get('classroom')?.valid && myForm.get('classroom')?.touched" class="help-block red">
                Please enter a valid training classroom
              </span>
            </div>
            <label for="">Begin Date</label>
            <div>
              <input type="date" formControlName="datedebut" class="form-control">
              <span *ngIf="!myForm.get('datedebut')?.valid && myForm.get('datedebut')?.touched" class="help-block red">
                Please enter a valid training begin date
              </span>
            </div>
            <label for="">End Date</label>
            <div>
              <input type="date" formControlName="datefin" class="form-control">
              <span *ngIf="!myForm.get('datefin')?.valid && myForm.get('datefin')?.touched" class="help-block red">
                Please enter a valid training end date
              </span>
            </div>
            <label for="">Course Picture</label>
            <div>
              <input type="file" formControlName="picture" class="form-control" (change)="onFileSelect($event)">
              <span *ngIf="!myForm.get('picture')?.valid && myForm.get('picture')?.touched" class="help-block red">
                Please select a valid training picture
              </span>
            </div>
          </div>
          <div style="align-items: space-around; width: 50%; padding:50px">
            <label for="">Training Description</label>
            <div>
              <textarea name="" formControlName="description" class="form-control" rows="10" cols="40"></textarea>
              <span *ngIf="!myForm.get('description')?.valid && myForm.get('description')?.touched" class="help-block red">
                Please enter a valid training description
              </span>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
