<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" /> -->
<div class="text-center pb-2 "style="margin-top:50px">
    <p class="section-title px-5" style="text-align:left;;"><span class="px-2">Training Details</span></p>
    <!-- <h1 class="mb-4">Our Latest Certification</h1> -->
</div>

<div class="container">
    <div style="display: flex; width: 100%;background-color : #f8f9fa; ">
        <!-- details training -->
        <div style="width: 40%;border-right:50px solid white;">
            <div class="container-fluid pt-5" >
                <div class="container" >
                    <div class="row" >
                            <div class="  pb-2">
                                <img class="card-img-top mb-2" [src]="'http://localhost:3001/' + data.picture" alt="">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{data.nom}}</h4>
                                    <p class="card-text">{{data.classroom}}</p>
                                </div>
                                <div class="card-footer bg-transparent py-4 px-5">
                                   
                                   
                                    <div class="row border-bottom">
                                        <div class="col-6 py-1 text-right border-right"><i class="far fa-calendar text-primary "style="margin-right: 10px;"></i><strong>Start  Class Date </strong></div>
                                        <div class="col-6 py-1">{{data.datedebut}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 py-1 text-right border-right"><i class="far fa-calendar text-primary"style="margin-right: 10px;"></i><strong>End  Class Date</strong></div>
                                        <div class="col-6 py-1">{{data.datefin}}</div>
                                    </div>
                                </div>
                                <a  (click)="joining()"  class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>


        <!-- Description training -->
        <div style="width: 60%; display: flex; justify-content: center; text-align: justify; align-items: center; border-left:2px solid white ;background-color : #f8f9fa;" >
            <div class="container-fluid pt-5" style="">
                <div class="container" >
                   
                    <div class="row" >
                            <!-- <div class="card bg-light  pb-2" style="width:100% ;height: 100%; ; "> -->
                                <div>
                                <div class="text-center pb-2">
                                    <h1 class="mb-4">{{data.nom}} </h1>
                                </div> <br>
                                <p style =" margin-left: 30px;margin-right: 30px;">  {{data.description}}
                              
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
    
  
    <br><br><br>
    <p class="section-title px-5"><span class="px-2">Leave your comment here</span></p>

    <div class="row">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <p>What do you think about this Course ?</p>
                    
                    <!-- comment box -->
                    <form [formGroup]="myForm" (ngSubmit)="submited()" >
                        <span class="input-icon">
                            <textarea formControlName="comment"  rows="3" class="form-control" placeholder="Write something..."></textarea>
                        </span>
                        <div class="comment-area-btn">
                            <div class="float-end">
                                <button  type="submit" class="btn btn-sm btn-dark waves-effect waves-light">Post</button>
                            </div>
                            <div>
                                <!-- <a href="#" class="btn btn-sm btn-light text-black-50"><i class="far fa-user"></i></a>
                                <a href="#" class="btn btn-sm btn-light text-black-50"><i class="fa fa-map-marker-alt"></i></a>
                                <a href="#" class="btn btn-sm btn-light text-black-50"><i class="fa fa-camera"></i></a> -->
                                <!-- <a href="#" class="btn btn-sm btn-light text-black-50"><i class="far fa-smile"></i></a> -->
                            </div>
                        </div>
                    </form>
                    <!-- end comment box -->

                    <!-- Story Box-->
                    <div class="border border-light p-2 mb-3">
                        <!-- <div class="d-flex align-items-start">
                            <img class="me-2 avatar-sm rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Generic placeholder image">
                            <div class="w-100">
                                <h5 class="">Thelma Fridley <small class="text-muted"> 1 hour ago</small></h5>
                                <div class="">
                                    Cras sit amet nibh libero, in
                                    gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Duis
                                    sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
                                    porta. Mauris massa.
                                    <br>
                                </div>
                            </div>
                            
                        </div> -->
                        

                        <div class="post-user-comment-box">
                            <div class="d-flex align-items-start" *ngFor="let data of arr">
                                <img class="me-2 avatar-sm rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image">
                                <div class="w-100" >
                                    <h5 class="mt-0">{{data.userId.firstname}} {{data.userId.lastname}} </h5>
                                    {{data.comment}}

                                    <br><br><br>
                                 
                                </div>
                                

                                
                            </div>
                            
                        </div>
                        
<!-- 
                        <div class="mt-2">
                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-danger"><i class="mdi mdi-heart"></i> Like (28)</a>
                            <a href="javascript: void(0);" class="btn btn-sm btn-link text-muted"><i class="mdi mdi-share-variant"></i> Share</a>
                        </div> -->
                    </div>

                  

                    <!-- <div class="text-center">
                        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-spin mdi-loading me-1"></i> Load more </a>
                    </div> -->
                </div>
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row-->
</div>
