
<br><br>
<div class="container">
        
        <div class="row">
            <div style="display: flex; ">
                <div>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
                    
                </div>
                
                <div>
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <h1 style="padding-top:80px">Register</h1>
         
                <div style="width: 700px; height: 700px;">
                    <!-- firstname input -->
                 <div >
                   <label class="form-label" for="form3Example3">Firstname</label>
                 <input formControlName="firstname" type="text" id="form3Example3" class="form-control form-control-lg"
                   placeholder="Enter firstname " />
                   <span *ngIf="!myForm.get('firstname')?.valid && myForm.get('firstname')?.touched"
                class="help-block red">Please enter your firstname </span>
                   </div>
           
               <!-- Lastname input -->
                   <div >
                   <label class="form-label" for="form3Example4">Lastname</label>
                 <input formControlName="lastname" type="text" id="form3Example4" class="form-control form-control-lg"
                   placeholder="Enter Lastname" />
                   <span *ngIf="!myForm.get('lastname')?.valid && myForm.get('lastname')?.touched"
                class="help-block red">Please enter your lastname </span>
                 </div>
           
                   <!-- Email input -->
                   <div >
                       <label class="form-label" for="form3Example3">Email address</label>
                     <input formControlName="email" type="email" id="form3Example3" class="form-control form-control-lg"
                       placeholder="Enter email address" />
                       <span *ngIf="!myForm.get('email')?.valid && myForm.get('email')?.touched"
                class="help-block red">Please enter a valid email </span>
                   </div>
           
                   <!-- Password input -->
                   <div>
                       <label class="form-label" for="form3Example4">Password</label>
                     <input formControlName="password" type="password" id="form3Example4" class="form-control form-control-lg"
                       placeholder="Enter password" />
                       <span *ngIf="!myForm.get('password')?.valid && myForm.get('password')?.touched"
                class="help-block red">Password must be at least 6 characters</span>
                   </div>
           
             
                       <!-- University input -->
                       <div >
                           <label class="form-label" for="form3Example3">University name</label>
                         <input formControlName="university" type="email" id="form3Example3" class="form-control form-control-lg"
                           placeholder="Enter University" />
                           <span *ngIf="!myForm.get('university')?.valid && myForm.get('university')?.touched"
                class="help-block red">Please enter your university name</span>
                       </div>
             
                       <!-- level Study input -->
                       <div >
                           <label class="form-label" for="form3Example4">Study Level</label>
                         <input formControlName="level" type="text" id="form3Example4" class="form-control form-control-lg"
                           placeholder="Enter Study level" />
                           <span *ngIf="!myForm.get('level')?.valid && myForm.get('level')?.touched"
                class="help-block red">Please enter your study level</span>
                       </div>
             
                  
             
                       <div class="text-center text-lg-start mt-4 pt-2">
                         <button type="submit" class="btn btn-primary btn-lg"
                           style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                         <p class="small fw-bold mt-2 pt-1 mb-0">have an account? <a routerLink="/login"
                             class="link-primary">Login</a></p>
                       </div>
                   </div>
                   
                   </form>
        </div>
     </div>
    </div>
    </div>
   
