<div class="pdfform" >
<div class="card w-60 mx-auto mt-5 p-4">
    <h2>Add Course</h2>
    <form [formGroup]="myForm" (ngSubmit)="sendData()">
        <input type="hidden" formControlName="formations">

           
            <div >
                <input   formControlName="pdf"  type="file" (change)="onFileSelected($event)" class="form-control m-1"  placeholder="pdf" >
    
            </div>
    
    
    
            <div class="col-2">
                <button class="btn btn-outline-warning">add</button>
            </div>
      </form>
    </div>
</div>