<h5 class="card-title" style="padding-top:50px; text-align:center ;font-size: 30px;">All Teachers :   </h5>

  <!-- Blank Start -->
  <div class="container-fluid pt-4 px-4">
    <div class="row vh-10  rounded align-items-center justify-content-center mx-0">
        <div >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="from-outline mt-3">
                  <div style="padding-bottom: 20px;"> 
                    <p>Search for teacher : </p>
                  <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control" placeholder="search" aria-label="search" >
                 
                  </div>
                  <p>Our teachers : </p>
          
              <table class="table table-striped" >
                    <thead>
                      <tr>
                        <th id="teacheraction" scope="col">#</th>
                        <th id="teacheraction" scope="col">Firstname</th>
                        <th id="teacheraction" scope="col">Lastname</th>
                        <th id="teacheraction" scope="col">email</th>
                        <th id="teacheraction" scope="col">Training </th>
                        <th id="teacheraction" scope="col">University</th>
                        <th id="teacheraction" scope="col">Action</th>
            
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of teacher |filter:searchtext | paginate: { itemsPerPage: 6, currentPage: p } ;let index = index ;let i as index  ">
                        <th id="teacheraction" scope="row">{{index+1}}</th>
                        <td id="teacheraction">{{data.firstname}}</td>
                        <td id="teacheraction" >{{data.lastname}}</td>
                        <td id="teacheraction" >{{data.email}}</td>
                        <td id="teacheraction" *ngFor="let data of data.formations">{{data.nom}}</td>
                        <td id="teacheraction">{{data.university}}</td>
                        <td id="teacheraction"> 
                            <button  type="button" class="btn btn-outline-danger m-2 " style ="margin: 5px;" (click)="deleteteacher(i)">Delete</button>
                            <button type="button" class="btn btn-outline-primary m-2" [routerLink]="['/adminupdateteacher/',i._id]">Update</button>
                        </td>
                    </tr>
                    
                    </tbody>
                  </table>
                </div>
                  <div style="display: flex; justify-content: center;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>
              </div>
          </div>        
          </div>
    </div>
</div>
<!-- Blank End -->


