<!-- upload.component.html -->
<!-- <form (ngSubmit)="onSubmit()">
    <input type="file" (change)="onFileSelected($event)" />
    <button type="submit">Upload</button>
  </form> -->

  



<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <h4 class="text-white mb-4 mt-5 mt-lg-0">Get your Certification Now !</h4>
            <h1 class="display-3 font-weight-bold text-white">Tek-Up Summer Training </h1>
            <!-- <p class="text-white mb-4">Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed sit.
                Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed ipsum at ipsum nonumy amet. Clita
                lorem dolore sed stet et est justo dolore.</p> -->
            <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="/assets/img/tek2.png" alt="">
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Facilities Start -->
<div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Onlie Course</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Quiz</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Presential Course </h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 pb-1">
         
            </div> -->
        </div>
    </div>
</div>
<!-- Facilities Start -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/img/summer.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5"><span class="pr-2">Learn About Us</span></p>
                <h1 class="mb-4">Get your certification </h1>
                <p>TEK-UP is organizing an online training camp covering several areas: </p>

                <div class="row pt-2 pb-4">
                    <!-- <div class="col-6 col-md-4">
                        <img class="img-fluid rounded" src="../../assets/img/laptop.jpg" alt="">
                    </div> -->
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>Development: Python, Javascript, HTML/CSS…</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Networks: CISCO, HUAWEI, JUNIPER</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Artificial Intelligence: Huawei HCIA-AI</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Security: Ethical Hacking</li>
                            <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Security: Ethical Hacking</li>
                        </ul>
                    </div>
                </div>

                <p>And many other online training courses throughout the summer .</p><p>All training is free and sponsored by our partner companies.</p>

                <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Class Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Popular Events</span></p>
            <h1 class="mb-4">Participations of our students </h1>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <img class="card-img-top mb-2" src="../../assets/img/Digital-Congress-.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title">TEK-UP Digital Congress 2023                        </h4>
                        <p class="card-text">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo et no et, ipsum ipsum erat duo amet clita duo</p>
                    </div>
                    <!-- <div class="card-footer bg-transparent py-4 px-5">
                      class="col-6 py-1">$290 / Month</div>
                        </div>
                    </div> -->
                    <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <img class="card-img-top mb-2" src="../../assets/img/Clouf-Fest-2023.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title">AWS CLOUDfest 2023</h4>
                        <p class="card-text">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo et no et, ipsum ipsum erat duo amet clita duo</p>
                    </div>
                    <!-- <div class="card-footer bg-transparent py-4 px-5">
                  
                    </div> -->
                    <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <img class="card-img-top mb-2" src="../../assets/img/Digitech-2023.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title">TEK-UP DIGITECH 2023</h4>
                        <p class="card-text">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo et no et, ipsum ipsum erat duo amet clita duo</p>
                    </div>
              
                    <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Class End -->


<!-- Registration Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <p class="section-title pr-5"><span class="pr-2">Get A Certification</span></p>
                <h1 class="mb-4">Get A Certification</h1>
                <p>TEK-UP ne cesse de former des ingénieurs de grand calibre pour des postes de travail à l’international.
                    Nos ingénieurs visent grand, à savoir des postes dans les sociétés géantes du numérique telles que :
                    
                    
                </p>
                <ul class="list-inline m-0">
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Amazon</li>
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Microsoft</li>
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Cisco</li>
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>etc</li>

                </ul>
                    
                    <p>
                    Et pour les aider à réaliser leurs rêves, TEK-UP forme ses étudiants pour les certifications professionnelles de haut niveau fournies par ces géants du numérique.
                    Cette école d’été ou « Summer School » est l’une des formes de formation professionnelle que TEK-UP fournit à ses étudiants.
                    Ces formations sont aussi ouvertes à tout étudiant qui peut être présent durant l’été à TEK-UP.
                    
                   <p> Pour s’y inscrire, cliquez le bouton et choisissez la formation qui vous convient.</p>
              
                <a href="" class="btn btn-primary mt-4 py-2 px-4">Register </a>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-secondary text-center p-4">
                        <h1 class="text-white m-0">Get A Certification</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select border-0 px-4" style="height: 47px;">
                                    <option selected>Select A Class</option>
                                    <option value="1">Class 1</option>
                                    <option value="2">Class 1</option>
                                    <option value="3">Class 1</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-secondary btn-block border-0 py-3" type="submit">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->


<!-- Team Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Our Teachers</span></p>
            <h1 class="mb-4">Meet Our Teachers</h1>
        </div>
        <div  class="row justify-content-center">
            <div class="col-md-4 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="../../assets/img-fluid w-100" src="../../assets/img/ahmed.jpg" alt="" >
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Ahmed Ksiksi</h4>
                <i>OCA  Teacher</i>
            </div>
            <div class="col-md-4 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="../../assets/img-fluid w-100" src="../../assets/img/taak2.jpg" alt="" >

                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Takoi Hasni</h4>
                <i>AWS  Teacher</i>
            </div>
            <div class="col-md-4 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                    <img class="../../assets/img-fluid w-100" src="../../assets/img/chou.jpg" alt="" >
                    <div
                        class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;"
                            href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Chouaieb Amdouni</h4>
                <i>RHCA Teacher</i>
            </div>
            
        </div>
    </div>
</div>
<!-- Team End -->







<!-- Back to Top -->
<a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>



  